<section class="village-screen">
    <div class="tutorial-container">
        <div class="step" id="ai" data-title="AI Center">
            <img src="./assets/images/tutorial/academy.png" alt="Academy">
            <span class="step-header">Academy</span>
            <span class="step-description">Learning Course material in academy to earn resources</span>
        </div>
        
        <div class="step" id="defense" data-title="Security System">
            <img src="./assets/images/tutorial/aiCenter.png" alt="AI Center Level 1">
            <span class="step-header">Main Building</span>
            <span class="step-description">Take the final trial in Main Building to upgrade building</span>
        </div>
        
        <div class="step" id="compute" data-title="Cloud Center">
            <img src="./assets/images/tutorial/combine.png" alt="Differrent Building Outlooks and Certification">
            <span class="step-header">Earn the Certification</span>
            <span class="step-description">Earn in-game building outlooks and real-world certification after upgrade the building</span>
        </div>
    </div>       
</section>

<style>
  .village-screen {
    position: relative;
    height: 100%;
    aspect-ratio: 16/9;
    background-size: auto 100%;
    background-position: center;
    background-image: url('./assets/images/villageBG.png'); 
    background-repeat: no-repeat;
    padding: 2rem;
    gap: 2rem; 
    box-sizing: border-box;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .village-screen::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 1;
    pointer-events: none;
  }

  .tutorial-container {
    flex: 1;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 1rem;
    width: -webkit-fill-available;
    max-width: 800px;
    min-height: 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 10;
    display: flex;
    /* flex-direction: column; */
    gap: 3rem;
  }

  .step {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    position: relative;
    text-align: center;
    cursor: pointer;
    flex: 1; /* Allow steps to grow equally */
    width: 30%;
    padding: 2rem;
  }

  img {
    width: auto;
    max-width: 100%;
    height: 100px;
    transition: transform 0.2s, box-shadow 0.2s;
  }

  .step-header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
    color: #fff;
  }

  .step-description {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1rem;
    color: #fff;
  }
</style>