<section class="village-screen">
  <div class="building ai-img" id="ai" data-title="AI Center" data-type="building">
    <img src="./assets/images/buildings/aiL1.png" alt="AI Center Level 1">
    <span class="label building">AI Center: Level 1</span>
  </div>

  <div class="building defense-img" id="defense" data-title="Security System">
    <img src="./assets/images/buildings/defenseL1.png" alt="Security System Level 1">
    <span class="label building">Security System<br>Coming Soon</span>
  </div>

  <div class="building compute-img" id="compute" data-title="Cloud Center">
    <img src="./assets/images/buildings/computeL1.png" alt="Cloud Center Level 1">
    <span class="label building">Cloud Center<br>Coming Soon</span>
  </div>

  <div class="building data-img" id="data" data-title="Data Center">
    <img src="./assets/images/buildings/dataL1.png" alt="Data Center Level 1">
    <span class="label building">Data Center: Level 1</span>
  </div>

  <div class="building academy-img" id="academy" data-title="Academy" data-type="dialogue">
    <img src="./assets/images/buildings/academy.png" alt="Academy Level 1">
    <span class="label building">Academy</span>
  </div>

  <div class="building arena-img" id="arena" data-title="Arena" data-type="contest">
    <img src="./assets/images/buildings/arena.png" alt="Arena Level 1">
    <span class="label building">Arena</span>
  </div>

  <div class="building lab-img" id="lab" data-title="Arena">
    <img src="./assets/images/buildings/aiLabL1.png" alt="AI Lab Level 1">
    <span class="label building">AI Lab<br>Coming Soon</span>
  </div>
</section>

<style>
  .village-screen {
    position: relative;
    height: 100%;
    aspect-ratio: 16/9;
    background-size: auto 100%;
    background-position: center;
    background-image: url('./assets/images/villageBG.png'); 
    background-repeat: no-repeat;
    /* overflow: hidden; */
  }

  .building {
    position: absolute;
    text-align: center;
    cursor: pointer;
  }

  .building img {
    width: 100%;
    height: auto;
    transition: transform 0.2s, box-shadow 0.2s;
  }

  .label.building {
    top: auto;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .building:hover .label {
    display: block;
  }

  /* Building-specific positions */
  .ai-img     { position: absolute; top: 62%; left: 12%; transform: translate(-50%, -50%); z-index: 10; }
  .ai-img img    { height: calc(78vh*(127/360)); width: auto; opacity: 0;}
  .defense-img { position: absolute; top: 28.5%; right: -3.5%; transform: translate(-50%, -50%);  z-index: 10;  cursor: no-drop;}
  .defense-img img { height: calc(78vh*(198/360)); width: auto; opacity: 0;}
  .compute-img  { position: absolute; top: 16.5%; left: 36.5%; transform: translate(-50%, -50%); z-index: 10;  cursor: no-drop;}
  .compute-img img { height: calc(78vh*(104/360)); width: auto; opacity: 0;}
  .data-img    { position: absolute; top: 29.2%; left: 17.6%; transform: translate(-50%, -50%); z-index: 10;   cursor: no-drop;}
  .data-img img   { height: calc(78vh*(120/360)); width: auto; opacity: 0;}
  .academy-img    { position: absolute; top: 20%; right: 14%; transform: translate(-50%, -50%); z-index: 15; }
  .academy-img img   { height: calc(78vh*(127/360)); width: auto; opacity: 0;}
  .arena-img    { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 10; }
  .arena-img img  { height: calc(78vh*(134/360)); width: auto; opacity: 0;}
  .lab-img    { position: absolute; top: 75.8%; left: 31.5%; transform: translate(-50%, -50%); z-index: 10;  cursor: no-drop;}
  .lab-img img  { height: calc(78vh*(135/360)); width: auto; opacity: 0;}
</style>